/*Colors*/
/*
//body
$color-white: white;
// Original Site
//Heading-Underline
$color-darkaqua: #bae8e8;
//banner and footer texts
$color-whiteaqua: #f7fafa;

//NOT USED
//$color-lightaqua: #e3f6f5;

//Buttons and line in cards
$color-aqua: #a3e1de;

//footer, headings, important texts
$color-darkblue: #272643;

// less important paragraphs and texts.
$color-grey: #8c9cb1;
$color-filter: invert(93%) sepia(8%) saturate(1171%) hue-rotate(118deg)
  brightness(93%) contrast(90%);
$color-filter--hover: invert(9%) sepia(8%) saturate(1200%) hue-rotate(360deg)
  brightness(90%) contrast(100%);

$color-box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
$color-footer: #272643;
$color-footer__links: #f7fafa;
$color-footer-texts: #a3e1de;
$color-footer-texts--active: #f7fafa;
*/
/* Colour Styles */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  color: #f4ece5;
}

p {
  color: #b9b5ae;
}

body {
  background-color: #2c2a2a;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media (max-width: 768px) {
  body > *:not(footer) {
    margin: 0 5%;
  }
  body > *:not(footer) .projects {
    margin-bottom: 50px;
  }
}
@media (min-width: 768px) {
  header {
    margin: 0 100px;
  }
  .banner {
    margin: 0 50px;
  }
  .projects {
    margin: 0 50px 100px;
  }
}
* {
  font-family: "Inter", sans-serif;
}

.btn {
  background-color: #cb9569;
  padding: 20px 30px;
  border-radius: 8px;
  color: #f4ece5;
  text-decoration: none;
  font-weight: 700;
  border: 2px solid #f4ece5;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.btn:active {
  color: #3b3636;
  background-color: #f4ece5;
  box-shadow: rgba(255, 255, 255, 0.4) 0px 2px 4px, rgba(255, 255, 255, 0.3) 0px 7px 13px -3px, rgba(255, 255, 255, 0.2) 0px -3px 0px inset;
}
.btn:hover {
  transition: ease-in 300ms;
  background-color: #f4ece5;
  color: #3b3636;
}

.highlight {
  background-image: linear-gradient(#cb9569, #cb9569);
  background-size: 100% 40%;
  background-repeat: repeat-x;
  background-position: -50% 100%;
  padding: 0 5px;
}

.projects__card {
  border-radius: 8px;
  padding-bottom: 10px;
  display: block;
  width: 400px;
  height: 500px;
  box-shadow: rgba(124, 124, 124, 0.0784313725) 0px 4px 12px;
  transform: scale(1);
  transition: 500ms;
}
.projects__card:hover {
  transform: scale(1.05);
}
.projects__image {
  border-radius: 8px 8px 0 0;
  height: 50%;
  width: 100%;
  background-color: #cb9569;
  border-bottom: 4px solid #cb9569;
}
.projects__image img {
  border-radius: 8px 8px 0 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center -1px;
     object-position: center -1px;
}
.projects__title {
  font-size: 1.5rem;
  color: #f4ece5;
}
.projects__title p {
  font-size: 1rem;
  color: #cb9569;
  text-shadow: 1px 1px #f4ece5;
  margin-bottom: 5px;
}
.projects__text {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #b9b5ae;
  text-align: justify;
  padding: 0px 15px 0;
  font-size: 1rem;
}
.projects__text .projects__buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.projects__text .projects__buttons a {
  margin-right: 1rem;
  text-decoration: none;
  color: #f4ece5;
}
.projects__text .projects__buttons a .projects__icons:hover {
  color: #cb9569;
}
.projects__text .projects__buttons a:hover {
  color: #cb9569;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}
header .header__logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 140px;
}
header .header__icon {
  color: #cb9569;
}
header .header__bold {
  font-weight: 800;
}
header .header__name a {
  text-decoration: none;
  color: #f4ece5;
}

.nav__burger {
  display: none;
}
.nav__list {
  display: flex;
  list-style: none;
  justify-content: space-between;
}
.nav__list .nav__link {
  text-decoration: none;
  color: #b9b5ae;
}
.nav__list .nav__link:hover {
  color: #f4ece5;
  transition: ease-in 150ms;
}
.nav__list .nav__btn {
  padding: 10px 30px;
}
@media (max-width: 768px) {
  .nav__burger {
    display: block;
    width: 0;
  }
  .nav__list--hidden {
    display: none;
  }
}
@media (min-width: 768px) {
  .nav {
    width: 57%;
  }
}

.banner {
  background-color: #3b3636;
  padding: 20% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.banner__container {
  min-height: 370px;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.banner__welcome {
  color: #b9b5ae;
  font-size: 1.25rem;
  font-weight: 500;
}
.banner__title {
  font-size: 3rem;
}
.banner__button {
  display: flex;
  align-items: center;
}
.banner__arrow {
  position: relative;
  top: 4px;
  left: 5px;
}
@media (max-width: 768px) {
  .banner__arrow {
    display: none;
  }
}

.about {
  display: flex;
  align-items: center;
  height: 120vh;
  margin-bottom: 0;
}
.about__title--hidden {
  display: none;
}
.about__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about__description {
  color: #b9b5ae;
  font-size: 1rem;
  text-align: justify;
}
.about__image {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 425px) {
  .about {
    flex-direction: column;
    justify-content: space-around;
    margin: 30px 0;
  }
  .about__heading {
    display: none;
  }
  .about__title--hidden {
    display: block;
    order: -2;
  }
  .about__image-container {
    margin: 30px 0;
    height: 350px;
    max-width: 70%;
    order: -1;
  }
}
@media screen and (max-width: 768px) {
  .about {
    flex-direction: column;
    justify-content: space-around;
    margin: 30px 0;
  }
  .about__heading {
    display: none;
  }
  .about__title--hidden {
    display: block;
    order: -2;
  }
  .about__image-container {
    margin: 30px 0;
    height: 450px;
    order: -1;
  }
}
@media (min-width: 768px) {
  .about {
    justify-content: space-evenly;
    margin: 50px;
    height: 100vh;
  }
  .about__text {
    padding-right: 50px;
    width: 30rem;
    height: 400px;
    justify-content: space-evenly;
  }
  .about__image-container {
    margin: 0px;
    max-width: 300px;
  }
}
@media (min-width: 992px) {
  .about {
    justify-content: space-evenly;
  }
  .about__text {
    width: 800px;
    height: 400px;
    justify-content: space-evenly;
  }
  .about__image-container {
    margin: 0px;
    height: 500px;
    flex-shrink: 0;
  }
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 110vh;
}
.skills__description--hidden {
  display: none;
}
.skills__content {
  display: grid;
  grid-template: repeat(3, 1fr)/repeat(4, 1fr);
  width: 90%;
  height: 65%;
  gap: 10px;
}
.skills__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}
.skills__icon {
  filter: invert(73%) sepia(22%) saturate(765%) hue-rotate(343deg) brightness(82%) contrast(92%);
  height: 75px;
  width: 75px;
  -o-object-fit: fill;
     object-fit: fill;
}
.skills .new__icon {
  height: 85px;
  width: 85px;
}
.skills__title {
  color: #b9b5ae;
}
@media (max-width: 425px) {
  .skills__icon {
    height: 60px;
    width: 60px;
  }
}
@media (min-width: 768px) {
  .skills__description--hidden {
    display: block;
    text-align: center;
    width: 700px;
    color: #b9b5ae;
    font-size: 1rem;
  }
  .skills__content {
    width: 750px;
    grid-template: 1fr 1fr/repeat(6, 1fr);
    height: 250px;
    gap: 0px;
  }
  .skills__item {
    transition: ease-out 500ms;
    transform: scale(1);
    margin: 25px;
  }
  .skills__item:hover {
    scale: 1.2;
    filter: invert(10%) sepia(120%) saturate(200%) hue-rotate(343deg) brightness(90%) contrast(90%);
  }
  .skills__icon {
    height: 70px;
    width: 70px;
  }
}
@media (min-width: 992px) {
  .skills__content {
    width: 900px;
  }
  .skills__description--hidden {
    width: 1000px;
  }
}
@media (min-width: 1440px) {
  .skills__content {
    width: 1100px;
  }
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects__container {
  margin-top: 50px;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 70px;
}

footer {
  background-color: #3b3636;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .footer__email a {
  text-decoration: none;
  color: #c6a07e;
}
footer .footer__email a:hover {
  color: #f4ece5;
}
footer .footer__list {
  padding-bottom: 10px;
  order: -1;
  min-width: 150px;
  max-width: 200px;
  width: 15%;
  display: flex;
  list-style: none;
  justify-content: space-around;
}
footer .footer__list .footer__links {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c6a07e;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  flex-shrink: 0;
}
footer .footer__list .footer__links a {
  text-decoration: none;
  font-weight: 600;
  color: #3b3636;
}
footer .footer__list .footer__links a i {
  color: #3b3636;
}
footer .footer__list .footer__links a:hover {
  color: #f4ece5;
}
footer .footer__list .footer__links a:hover i {
  color: #f4ece5;
}
@media (min-width: 768px) {
  footer {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
  }
  footer .footer__list {
    order: 1;
    padding-bottom: 0;
  }
}/*# sourceMappingURL=style.css.map */