.btn {
  background-color: $color-aqua;
  padding: 20px 30px;
  border-radius: 8px;
  color: $color-darkblue;
  text-decoration: none;
  font-weight: 700;
  border: 2px solid $color-darkblue;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  &:active {
    color: $color-whiteaqua;
    background-color: $color-darkblue;
    box-shadow: rgba(255, 255, 255, 0.4) 0px 2px 4px,
      rgba(255, 255, 255, 0.3) 0px 7px 13px -3px,
      rgba(255, 255, 255, 0.2) 0px -3px 0px inset;
  }
}
