* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  @include respond-to("small") {
    margin: 0 5%;
  }
}
@include respond-to("medium") {
  header {
    margin: 0 100px;
  }
  .banner {
    margin: 0 50px;
  }
}
