* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@include respond-to("small") {
  body > *:not(footer) {
    margin: 0 5%;

    .projects {
      margin-bottom: 50px;
    }
  }
}
@include respond-to("medium") {
  header {
    margin: 0 100px;
  }
  .banner {
    margin: 0 50px;
  }

  .projects {
    margin: 0 50px 100px;
  }
}
