//Breakpoints
$breakpoints: (
  "xs": (
    max-width: 425px,
  ),
  "small": (
    max-width: 768px,
  ),
  "medium": (
    min-width: 768px,
  ),
  "large": (
    min-width: 992px,
  ),
  "huge": (
    min-width: 1440px,
  ),
);

/*Colors*/
/*
//body
$color-white: white;
// Original Site
//Heading-Underline
$color-darkaqua: #bae8e8;
//banner and footer texts
$color-whiteaqua: #f7fafa;

//NOT USED
//$color-lightaqua: #e3f6f5;

//Buttons and line in cards
$color-aqua: #a3e1de;

//footer, headings, important texts
$color-darkblue: #272643;

// less important paragraphs and texts.
$color-grey: #8c9cb1;
$color-filter: invert(93%) sepia(8%) saturate(1171%) hue-rotate(118deg)
  brightness(93%) contrast(90%);
$color-filter--hover: invert(9%) sepia(8%) saturate(1200%) hue-rotate(360deg)
  brightness(90%) contrast(100%);

$color-box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
$color-footer: #272643;
$color-footer__links: #f7fafa;
$color-footer-texts: #a3e1de;
$color-footer-texts--active: #f7fafa;
*/
/* Colour Styles */

p {
  color: $color-grey;
}

body {
  background-color: $color-white;
}
