.banner {
  background-color: $color-whiteaqua;
  padding: 20% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  &__container {
    min-height: 370px;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
  }

  &__welcome {
    color: $color-grey;
    font-size: 1.25rem;
    font-weight: 500;
  }

  &__title {
    font-size: 3rem;
    color: $color-darkblue;
  }

  &__button {
    display: flex;
    align-items: center;
  }
  &__arrow {
    position: relative;
    top: 4px;
    left: 5px;
    @include respond-to("small") {
      display: none;
    }
  }
}
