footer {
  background-color: $color-footer;
  height: 150px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .footer {
    &__email {
      a {
        text-decoration: none;
        color: $color-footer-texts;

        &:hover {
          color: $color-footer-texts--active;
        }
      }
    }
    &__list {
      padding-bottom: 10px;
      order: -1;
      min-width: 150px;
      max-width: 200px;
      width: 15%;
      display: flex;
      list-style: none;
      justify-content: space-around;

      .footer__links {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-footer-texts;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        flex-shrink: 0;
        a {
          text-decoration: none;
          font-weight: 600;
          color: $color-footer;
          i {
            color: $color-footer;
          }

          &:hover {
            color: $color-footer-texts--active;
            i {
              color: $color-footer-texts--active;
            }
          }
        }
      }
    }
  }

  @include respond-to("medium") {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    .footer__list {
      order: 1;
      padding-bottom: 0;
    }
  }
}
