.nav {
  &__burger {
    display: none;
    width: 15px;
  }

  &__list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    .nav__link {
      text-decoration: none;
      color: $color-grey;

      &:hover {
        color: $color-darkblue;
        transition: ease-in 150ms;
      }
    }

    .nav__btn {
      padding: 10px 30px;
    }
  }

  @include respond-to("small") {
    &__burger {
      display: block;
    }

    &__list {
      &--hidden {
        display: none;
      }
    }
  }

  @include respond-to("medium") {
    width: 57%;
  }
}
