.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;

  &__description--hidden {
    display: none;
  }

  &__content {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    width: 90%;
    height: 65%;
    gap: 10px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
  }

  &__icon {
    filter: $color-filter;
    height: 75px;
    width: 75px;
  }
  &__title {
    color: $color-grey;
  }

  @include respond-to("xs") {
    &__icon {
      height: 60px;
      width: 60px;
    }
  }

  @include respond-to("medium") {
    &__description--hidden {
      display: block;
      text-align: center;
      width: 700px;
      color: $color-grey;
      font-size: 1rem;
    }

    &__content {
      width: 750px;
      grid-template: 1fr / repeat(9, 1fr);
      height: 150px;
      gap: 0;
    }

    &__icon {
      height: 70px;
      width: 70px;
    }
  }

  @include respond-to("large") {
    &__content {
      width: 900px;
    }
  }

  @include respond-to("huge") {
    &__content {
      width: 1100px;
    }
  }
}
