//Coffee Theme

$color-whiteaqua: #3b3636;
$color-darkblue: #f4ece5;
$color-white: #2c2a2a;
$color-darkaqua: #cb9569;
$color-aqua: #cb9569;
$color-box-shadow: #7c7c7c14 0px 4px 12px;
$color-grey: #b9b5ae;
$color-filter: invert(73%) sepia(22%) saturate(765%) hue-rotate(343deg)
  brightness(82%) contrast(92%);
$color-filter--hover: invert(10%) sepia(120%) saturate(200%) hue-rotate(343deg)
  brightness(90%) contrast(90%);
$color-footer: #3b3636;
$color-footer__links: #f4ece5;
$color-footer-texts: #c6a07e;
$color-footer-texts--active: #f4ece5;
