//Coffee Theme

$color-whiteaqua: #3b3636;
$color-darkblue: #f4ece5;
$color-white: #2c2a2a;
$color-darkaqua: #c6a07e;
$color-aqua: #c6a07e;
$color-box-shadow: #eebf9914 0px 4px 12px;
$color-grey: #b9b5ae;
$color-filter: invert(71%) sepia(34%) saturate(338%) hue-rotate(347deg)
  brightness(87%) contrast(91%);
$color-footer: #3b3636;
$color-footer__links: #f4ece5;
$color-footer-texts: #c6a07e;
$color-footer-texts--active: #f4ece5;
